/* Home Page Styles */

.avatar-placeholder {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

